[submodule "App"]
	path = App
	url = https://github.com/Tribak-Ayoub/Soli-LMS-fil-rouge
[submodule "Sanction-Management"]
	path = Sanction-Management
	url = https://github.com/Tribak-Ayoub/Soli-LMS-fil-rouge.git
